.menu ul {
  margin: 0;
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding-left: 20px;
  transition: all 1s;
}
.menu .title {
  font-size: 18px;
  cursor: pointer;
}
.menu .title:before {
  content: '▶ ';
  font-size: 80%;
  color: green;
}

.menu.open .title:before {
  content: '▼ ';
}
.menu.open ul {
  max-height: 200px;
  overflow: none;
}
.menu .title{
  color: green;
}
